#tablero-de-juego {
    height: 660px;
}

[id*="input"] {
    transition: opacity 500ms;
}

input:disabled {
    background-color: grey !important;
}

#resultado {
    width: 800px;
    height: 200px;
    margin: 8rem auto;
}

@media(max-width:745px) {
    #resultado {
        width: 100%;
        height: 300px;
    }
}